.profile__addBtn{
    margin-left: auto;
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/Add\ Button.svg);
    cursor: pointer;
}
.profile__addBtn:hover{
    opacity: .6;
}
@media screen and (max-width:608px){
    .profile__addBtn{
        min-width: 282px;
        background-image: url(../../../images/Add\ Button_mobile.svg);
        margin: 36px 0 0 0;
    }    
}